<div class="main-form-wrapper">
    <div class="main-form-topic">Авторизация</div>
    <div class="input-form">
        <form method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input name="password" type="password" class="form-control">
            </div>
            <div class="buttons-group">
                <button type="submit" class="btn btn-primary">Авторизоваться</button>
            </div>
        </form>
    </div>
</div>