<div class="admin-panel page-margin">
    <a href="/admin/users" class="admin-panel-button" style="background-color: lightgreen">Пользователи</a>
    <a href="/admin/log" class="admin-panel-button">Лог действий</a>
</div>