<style>
    .src-code-div {
        font-family: 'Courier New';
        border-left: solid;
        border-left-width: 2px;
        border-color: lightcoral;
        padding-left: 20px;
    }
</style>
<div class="main-form-wrapper">
    <div class="main-form-topic">Raw Log</div>
    <div class="src-code-div">{{body}}</div>
</div>
