<style>
    .src-code-div {
        font-family: 'Courier New';
        border-left: solid;
        border-left-width: 2px;
        border-color: lightcoral;
        padding-left: 20px;
        width: 70%;
    }
</style>
<div class="main-form-wrapper">
    <div class="main-form-topic">Raw Log</div>
    <div class="src-code-div">{{body}}</div>
    <a href="{{backHref}}" class="btn gray" style="margin-right: 5px; margin-top: 20px">Назад</a>
</div>
