<div class="admin-topic">Пользователи</div>
<table class="users-table sortable">
    <thead>
        <tr>
            <th class="clickable disable-select">Email</th>
            <th class="clickable disable-select">Nickname</th>
            <th class="clickable disable-select">Role</th>
            <th class="clickable disable-select">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr class="showhide">
            <td>{{this.email}}</td>
            <td>{{this.name}}</td>
            <td>{{this.role}}</td>
            <td><a href="/admin/users/edit?id={{this.id}}" style="margin-right: 10px">Изменить</a><a href="/">Удалить</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    const getSort = ({ target }) => {
        const order = (target.dataset.order = -(target.dataset.order || -1));
        const index = [...target.parentNode.cells].indexOf(target);
        const collator = new Intl.Collator(['en', 'ru'], { numeric: true });
        const comparator = (index, order) => (a, b) => order * collator.compare(
            a.children[index].innerHTML,
            b.children[index].innerHTML
        );

        for (const tBody of target.closest('table').tBodies)
            tBody.append(...[...tBody.rows].sort(comparator(index, order)));

        for (const cell of target.parentNode.cells)
            cell.classList.toggle('sorted', cell === target);
    };

    document.querySelectorAll('.sortable thead').forEach(tableTH => tableTH.addEventListener('click', () => getSort(event)));
</script>