<div class="main-form-wrapper">
    {{#if isEdited}}
    <div style="background-color: lightgreen; display: inline-block;">Аккаунт успешно изменен</div>
    {{/if}}
    <div class="main-form-topic">Ваш аккаунт</div>
    <div class="main-form">
        <div class="account-form">
            <div class="edit-account-form-body">
                <form method="get" action="/account/edit">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" aria-describedby="emailHelp" readonly value="{{user.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nickname</label>
                        <input name="name" type="text" class="form-control" aria-describedby="nickname" readonly value="{{user.name}}">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Role</label>
                        <input name="status" type="text" class="form-control showhide" readonly value="{{user.role}}">
                        <div class="hide" style="padding-left: 10px; padding-top: 4px;">Status: {{user.status}}</div>
                    </div>
                    <div class="buttons-group">
                        <a class="a-button" href="/account/logout">Выйти из аккаунта</a>
                        <a href="/account/edit" class="btn btn-primary">Изменить аккаунт</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>